<%= form_for(@article, :html =>{:class => "well form-horizontal"}) do |f| %>

    <p>
        <%= f.label :title, "标题" %>
        <%= f.text_field :title, :class => "span6" %>
    </p>
    <p>
        <%= f.label :body, "内容" %>
        <%= f.text_area :body, :class => 'span8' %>
    </p>
    <p>
        <%= f.label :tag_list, "标签" %>
        <%= f.text_field :tag_list, :class => "span6" %>
    </p>
    <p>
      <%= f.submit("发表", :disable_with => '请稍等...', :class => "btn btn-primary") %>
    </p>
<% end %>
